.advantages {
  padding: 20px;
}

.advantages__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.advantages__item {
  font-family: $font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
