.catalog {
  padding: 29px 20px 35px;
}

.catalog__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-bottom: 47px;
}
