.copyright__link {
  text-decoration: none;
}

.copyright__text {
  font-family: $font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.copyright__logo {
  display: block;
  color: #666666;
}
