.nutrition {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/index-background-desktop.jpg");
  background-size: cover;
}

.nutrition__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.nutrition__text {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.nutrition__image {
  display: block;
}
