.nutrition {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/index-background-desktop.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

.nutrition__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.nutrition__text {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.nutrition__image {
  display: block;

  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
  }
}
