@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.page {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  background-color: #ffffff;
}

.page__body {
  margin: 0;
}

.main-menu {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
}

.main-menu__link {
  color: #000000;
  text-decoration: none;
}

.nutrition {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/index-background-desktop.jpg");
  background-size: cover;
}

.nutrition__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.nutrition__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.nutrition__image {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: 280px;
  min-height: 40px;
  background-color: #68b738;
  border: none;
}

.catalogs {
  padding: 20px;
}

.catalogs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalogs__item {
  background-color: #f2f2f2;
}

.catalogs__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.catalogs__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}

.catalogs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.advantages {
  padding: 20px;
}

.advantages__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.example__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}

.example__money {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__subtext {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.page-footer__address {
  padding: 26px 20px;
}

.page-footer__contacts {
  background-color: #f2f2f2;
  padding: 39px 20px 22px;
}

.page-footer__address--grey-background {
  background-color: #f2f2f2;
}

.address__partnership {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.address__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.copyright__link {
  text-decoration: none;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.copyright__logo {
  display: block;
  color: #666666;
}

.questionnaire {
  padding: 27px 20px 32px;
}

.questionnaire__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-bottom: 38px;
}

.questionnaire__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 38px;
}

.form__fieldset,
.form input,
.form textarea {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;
}

.form__footnote {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.cat-data {
  padding-bottom: 44px;
}

.program {
  padding-bottom: 45px;
  color: #222222;
}

.contact-data {
  padding-bottom: 24px;
}

.comment {
  padding-bottom: 23px;
}

.comment__text {
  display: block;
  color: #444444;
}

.extra {
  padding-bottom: 34px;
  color: #000000;
}

.catalog {
  padding: 29px 20px 35px;
}

.catalog__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-bottom: 47px;
}

.main-products__list {
  list-style-type: none;
  padding: 0;
}

.main-products__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.main-products__parameters {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

.main-products__image {
  display: block;
}

.main-products__parameters dd {
  margin: 0;
}

.main-products__button {
  font-size: 16px;
  line-height: 20px;
}

.more-cards__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.more-cards__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

.more-cards__button {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.extra-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.extra-products__list {
  list-style-type: none;
  padding: 0;
}

.extra-products__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}

.extra-products__parameters {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}
.extra-products__parameters dd {
  margin: 0;
}

.extra-products__image {
  display: block;
}

.extra-products__button {
  font-size: 16px;
  line-height: 20px;
}

.gift {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/catalog-background-desktop.jpg");
  background-size: cover;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.gift__icon {
  color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */