@import "fonts.scss", "variables.scss", "blocks/page.scss", "blocks/main-menu.scss", "blocks/nutrition.scss", "blocks/button.scss", "blocks/catalogs.scss", "blocks/advantages.scss", "blocks/example.scss", "blocks/page-footer.scss", "blocks/address.scss", "blocks/copyright.scss", "blocks/questionnaire.scss", "blocks/form.scss", "blocks/cat-data.scss", "blocks/program.scss", "blocks/contact-data.scss", "blocks/comment.scss", "blocks/extra.scss", "blocks/catalog.scss", "blocks/main-products.scss", "blocks/more-cards.scss", "blocks/extra-products.scss", "blocks/gift.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
